RewriteEngine On
RewriteBase /

# Secure!
RewriteCond %{HTTPS} !=on
RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]


#
#RedirectMatch ^/($|ima$|ima/$|ima/login$|ima/login/$) http://ima.respec.com
#RedirectMatch ^/($|comment/fnsb$|comment/fnsb/$) https://www.mapfeeder.net/comment/index.php?city=Fairbanks
RedirectMatch ^/($|comment/fnsb$|comment/fnsb/$) /comment/index.php?city=Fairbanks

